.markdown-section table {
    table-layout: fixed;
    display: block;
    overflow-x: auto;
	font-size: 90%;
}

.page-inner {
	max-width: 1100px;
}

body {
	background-color: #0053A1;
	color: white;
}

figure {
	/* Center images with captions */
	text-align: center;
}
